<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.data.recover.dao.BaseDataReportMapper">
    <insert id="insertBaseReportData" parameterType="java.util.List">
        insert into t_data_upload_base(pidt,t,day,bt,rd,sd,av,scd,md,fg,ed,es,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16)
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.pid},#{item.t},#{item.day},#{item.bt},#{item.rd},#{item.sd},#{item.av},#{item.scd},#{item.md},#{item.fg},#{item.ed},#{item.es},#{item.a1},#{item.a2},#{item.a3},#{item.a4},#{item.a5},#{item.a6},#{item.a7},#{item.a8},#{item.a9},#{item.a10},#{item.a11},#{item.a12},#{item.a13},#{item.a14},#{item.a15},#{item.a16})
        </foreach>
    </insert>
</mapper>