<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.message.service.dao.datacenter.ExtraDataReportMapper">
    <insert id="insertReportData" parameterType="java.util.Map">
        insert into t_data_upload_extra(pid,day,v,os,osv,br,ds,ca,nt,cid,sr)
        VALUES(#{pid},#{day},#{v},#{os},#{osv},#{br},#{ds},#{ca},#{nt},#{cid},#{sr})
    </insert>
</mapper>